@font-face {
	font-family:'HelveticaNeueLTStd-MdCn';
	src:url('../fonts/helveticaneuemedium.eot');
	src:url('../fonts/helveticaneuemedium.eot?#iefix') format('embedded-opentype'),
		url('../fonts/helveticaneuemedium.woff') format('woff'),
		url('../fonts/helveticaneuemedium.ttf') format('truetype'),
		url('../fonts/helveticaneuemedium.svg#helveticaneuemedium') format('svg');
	font-weight:normal;
	font-style:normal;
}
body {
	background:#fff;
	color:#555561;
	font:12px/14px Arial, Helvetica, sans-serif;
	margin:0;
	position:relative;
}
img {border-style:none;}
a {
	text-decoration:none; 
	color:#555561;
}
a:hover {text-decoration:underline;}
input,
textarea,
select {
	font:100% Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
}
form,fieldset {
	margin:0;
	padding:0;
	border-style:none;
}

.header h2 { color: #e44;}

h1 {
	color:#fff;
	font:45px/56px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;
	margin:0;
	text-shadow:0 -1px 0 rgba(0, 0, 0, 0.5);
}
h2 {
	font:24px/28px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
h3 {
	font:20px/24px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;
	margin:0 0 9px;
}
h4 {
	font:18px/22px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
h5 {
	font:16px/20px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
h6 {
	font:14px/18px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;
	margin:0 0 7px;
}
/* header */
.header-container {background:url(../images/bg-header.gif) repeat-x 0 0;}
.header-holder {background:url(../images/header.jpg) no-repeat 50% 0;}
.header {
	margin:0 auto;
	padding:48px 0 58px;
	text-align:center;
	width:1024px;
}
/* main */
.main-container {background:url(../images/bg-main.png) repeat-x 0 3px;}
.main {
	margin:0 auto;
	min-height:1060px;
	width:1024px;
}
.row {
	float:left;
	width:100%;
}
.group {
	float:left;
	position:relative;
	width:230px;
}
.box-holder {
	float:left;
	position:relative;
}
.group .box-2 {float:right;}
.box {
	background:#fff;
	border:1px solid #ddd;
	border-radius:3px;
	padding:4px;
	text-align:center;
	width:100px;
	position:relative;
	z-index:10;
}
.box img {
	display:block;
	margin:0 0 8px;
}
.decor-l,
.decor-r,
.arrow-b,
.arrow-l,
.arrow-r,
.arrow-bl,
.arrow-br {
	display:none;
	position:absolute;
	z-index:1;
}
.decor-l {
	background:url(../images/decor-l.png) no-repeat;
	bottom:-1px;
	height:139px;
	left:-50px;
	width:65px;
}
.decor-r {
	background:url(../images/decor-r.png) no-repeat;
	bottom:-1px;
	height:139px;
	right:-50px;
	width:65px;
}
.arrow-b {
	background:url(../images/arrow-b.png) no-repeat;
	bottom:-78px;
	height:73px;
	left:29px;
	width:47px;
}
.arrow-l {
	background:url(../images/arrow-l.png) no-repeat;
	bottom:0;
	height:87px;
	left:-129px;
	width:121px;
}
.arrow-r {
	background:url(../images/arrow-r.png) no-repeat;
	bottom:0;
	height:87px;
	right:-129px;
	width:121px;
}
.arrow-bl {
	background:url(../images/arrow-bl.png) no-repeat;
	bottom:-64px;
	height:54px;
	left:-8px;
	width:38px;
}
.arrow-br {
	background:url(../images/arrow-br.png) no-repeat;
	bottom:-64px;
	height:54px;
	right:-8px;
	width:38px;
}
.row-2 .date {
	background:url(../images/date-green.png) no-repeat;
	bottom:-77px;
	color:#fff;
/*	font:23px/28px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif; */
	height:28px;
	left:59px;
	padding:27px 51px 23px 48px;
	position:absolute;
	text-align:center;
	width:50px;
}
.row-3 .date {
	background:url(../images/date-blue.png) no-repeat;
	bottom:-66px;
	color:#fff;
	/*font:20px/24px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;*/
	height:24px;
	left:57px;
	padding:29px 51px 21px 48px;
	position:absolute;
	text-align:center;
	width:50px;
}
.row-4 .date {
    background:url(../images/date-grey.png) no-repeat;
    bottom:-63px;
    color:#fff;
    /*font:16px/20px 'HelveticaNeueLTStd-MdCn', Arial, Helvetica, sans-serif;*/
    height:20px;
    left:55px;
    padding:31px 43px 23px 44px;
    position:absolute;
    text-align:center;
    width:35px;
}
.row-1 {
	border-bottom:1px solid #f6f6f6;
	padding: 65px 0 60px 110px;
}



.row-1 .box-holder {
	float:left;
	width:110px;
    margin: 0 80px;
}
.row-1 .decor-l,
.row-1 .decor-r,
.row-1 .arrow-b {display:block;}
.row-2 {
    padding: 18px 0 93px 200px;
    width: 640px;
}
.row-2 .group {
	/* float:none;
	margin:0 auto; */
	width:258px;
}





.row-2 .group:after {
	content:'';
	clear:both;
	display:block;
}

.row-2 .group-2 {
    float:right;
    margin:0 0px 0 0;
}

.row-2 .box {border-color:#add498;}
.row-2 .box-1 .arrow-l,
.row-2 .box-2 .arrow-r {display:block;}
.row-3 {	padding:8px 0 71px;}
.row-3 .group {width:258px;}
.row-3 .group-1 {margin:0 0 0 128px;}
.row-3 .group-2 {
	float:right;
	margin:0 128px 0 0;
}
.row-3 .box {border-color:#b9d3e4;}
.row-3 .box-1 .arrow-bl,
.row-3 .box-2 .arrow-br {display:block;}
.row-4 {

    padding: 31px 0 67px
}
.row-4 .group {margin:0 0 0 21px;}
/* footer */
.footer-container {background:url(../images/bg-footer.gif) repeat-x 0 0;}
.footer {
	color:#87878b;
	margin:0 auto;
	width:1024px;
}
.partners {
	height:77px;
	list-style-type:none;
	margin:0;
	padding:23px 0 29px;
}
.partners li {
	background:url(../images/separator.png) no-repeat 0 50%;
	display:inline-block;
	padding:0 55px;
}
* +html .partners {height:77px;}
* +html .partners li {display:inline;}
.partners li:first-child {background:none;}
.partners li a {
	display:table-cell;
	height:74px;
	vertical-align:middle;
}
.copyright {
	padding:17px 0 18px;
	margin:0;
	text-align:center;
}
/* dialog */
.fader {
	background:none repeat scroll 0 0 #000;
	display:none;
	height:100%;
	left:0;
	opacity:0.6;
	filter:alpha(opacity=60);
	position:absolute;
	top:0;
	width:100%;
	z-index:20;
}
.ui-dialog {
    border:1px solid #ddd !important;
    border-radius:3px !important;
}
.ui-dialog .ui-dialog-titlebar {display:none !important;}
.ui-dialog .popup-text {
	color:#555561;
	font:20px/28px 'HelveticaNeueLTStd-MdCn',Arial,Helvetica,sans-serif;
	margin:0;
	text-align:center;
}
.ui-dialog .popup-content {
	overflow:hidden;
	padding:15px 120px;
}
.ui-dialog .or {
	color:#c4c4c4;
	float:left;
	font:35px/40px 'HelveticaNeueLTStd-MdCn',Arial,Helvetica,sans-serif;
	padding:45px 50px;
}
.ui-dialog .ui-dialog-content {padding:60px 0 80px !important;}
.ui-dialog .ui-dialog-buttonpane {
	border:0 !important;
	margin:0 !important;
	padding:0 0 60px !important;
	text-align:center !important;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {float:none !important;}
.ui-dialog .ui-dialog-buttonpane button {
    margin:0 10px !important;
	font:14px/16px 'HelveticaNeueLTStd-MdCn',Arial,Helvetica,sans-serif !important;
}
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background:#e6e6e6 !important;
	background:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNmU2ZTYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+") !important;
	background:-moz-linear-gradient(top, #fff 0%, #e6e6e6 100%) !important;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e6e6e6)) !important;
	background:-webkit-linear-gradient(top, #fff 0%,#e6e6e6 100%) !important;
	background:-o-linear-gradient(top, #fff 0%,#e6e6e6 100%) !important;
	background:-ms-linear-gradient(top, #fff 0%,#e6e6e6 100%) !important;
	background:linear-gradient(to bottom, #fff 0%,#e6e6e6 100%) !important;
	border:1px solid #b3b3b3 !important;
	color:#494848 !important;
}
.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
	background:#3097b5 !important;
	background:url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzU3YmRkYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzMDk3YjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+") !important;
	background:-moz-linear-gradient(top,  #57bddb 0%, #3097b5 100%) !important;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0%,#57bddb), color-stop(100%,#3097b5)) !important;
	background:-webkit-linear-gradient(top,  #57bddb 0%,#3097b5 100%) !important;
	background:-o-linear-gradient(top,  #57bddb 0%,#3097b5 100%) !important;
	background:-ms-linear-gradient(top,  #57bddb 0%,#3097b5 100%) !important;
	background:linear-gradient(to bottom,  #57bddb 0%,#3097b5 100%) !important;
	border:1px solid #308da8 !important;
	color:#fff !important;
}
#dialog-2 {padding-bottom:20px !important;}
.popup-content .box-holder {cursor:pointer;}
.popup-content .box-holder:hover .box {
	border:3px solid #4699b2;
	cursor:pointer;
	padding:2px;
}
